<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>signupform</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form #form="ngForm" (ngSubmit)="signup()">
  <ion-item>
    <ion-label position="floating">Username *</ion-label>
    <ion-input name="username" [(ngModel)]="username" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password *</ion-label>
    <ion-input name="password" [(ngModel)]="password" type="password" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Name *</ion-label>
    <ion-input name="name" [(ngModel)]="name" required></ion-input>
  </ion-item>
  <div class="ion-text-end">
    <ion-button type="submit" [disabled]="!form.valid">Sign Up</ion-button>
  </div>
</form>
</ion-content>
